.icon-48-locations {
      background-image: url(../images/l_locations.png);
      padding-left:60px!important;
}

.icon-48-location {
      background-image: url(../images/l_locations.png);
      padding-left:60px!important;
}

.icon-48-categories {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-category {
      background-image: url(../images/l_categories.png);
      padding-left:60px!important;
}

.icon-48-tags {
      background-image: url(../images/l_tags.png);
      padding-left:60px!important;
}

.icon-48-tag {
      background-image: url(../images/l_tags.png);
      padding-left:60px!important;
}

.icon-48-markers {
      background-image: url(../images/l_markers.png);
      padding-left:60px!important;
}

.icon-48-marker {
      background-image: url(../images/l_markers.png);
      padding-left:60px!important;
}

.icon-48-searchlog {
      background-image: url(../images/l_searchlog.png);
      padding-left:60px!important;
}

.icon-48- {
      background-image: url(../images/l_searchlog.png);
      padding-left:60px!important;
}

