                <form method=post action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup6103" accept-charset="UTF-8" onSubmit="return verifyRequired6103();" >
					<input name="redirect" value="http://www.drakemag.com/newsletter-success.html" type="hidden" />
					<input class="button" name="errorredirect" value="http://www.drakemag.com/newsletter-error.html" type="hidden" />
					<span class="email">
   					<input name="fields_email" maxlength="60" class="sign_up_hp_input" value="signup for drake email updates" onFocus="if(this.value==this.defaultValue) this.value='';" onBlur="if(this.value == ''){this.value='Signup for drake email updates';}" type="text" />

					<!--input name="email_address" maxlength="80" class="sign_up_hp_input" value="" class="email_address" type="text" /-->
					</span> <span class="submit-button">
					<input class="submit" value="submit" type="submit" />
					</span>
					<input type=hidden name="listid" value="9987327">
					<input type=hidden name="specialid:9987327" value="MYFL">
					<input type=hidden name=clientid value="100099">
					<input type=hidden name=formid value="6090">
					<input type=hidden name=reallistid value="1">
					<input type=hidden name=doubleopt value="0">
				</form>
